# app配置
app:
  name: FastGo
  env: local
  debug: true
  secret: 123456
  url: http://localhost:8080
  port: 8080

# 日志配置
log:
  type: daily
  level: debug

# 数据库配置
database:
  default: main_db
  connections:
    main_db:
      driver: mysql
      host: 127.0.0.1
      port: 3306
      database: test1
      username: root
      password: root
    log_db:
      driver: mysql
      host: 127.0.0.1
      port: 3306
      database: test2
      username: root
      password: root

# redis配置
redis:
  host: 127.0.0.1
  port: 6379
  password:

# 会话配置
session:
  driver: cookie
  name: fast-go-session

# jwt配置
jwt:
  secret: fast-go
  token-name: Authorization
  ttl: 3600
